.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.2fr 0.8fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Pic Pic Inventory"
      "Pic Pic Game-Text"
      "Pic Pic Controls";
  }
  
  .Pic { 
    grid-area: Pic; 
    border: 5px solid black;
}
  
  .Inventory { 
    grid-area: Inventory; 
    border: 5px solid grey;
}
  
  .Game-Text { 
    grid-area: Game-Text; 
    border: 5px solid blue;
}
  
  .Controls { 
    grid-area: Controls; 
    border: 5px solid yellow;
}

.Panel_Scene {
    width: 100%;
}
  